h1 {
  font-size: 200px;
  color: #4c062c;
  text-align: center;

}
body{
  background-color: darkgreen;
  font-size: 40px;
}

.intro {
  color: #4c062c;
  font-style: italic;
}

h2 {
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}
